@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-fill: 69, 81, 67;
    --color-button-accent-hover: 102, 119, 99;
  }
  .theme-navy {
    --color-fill: 59, 68, 81;
    --color-button-accent-hover: 86, 100, 119;
  }
  .theme-neon {
    --color-fill: 165, 88, 245;
    --color-button-accent-hover: 182, 91, 255;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
  }
  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 rounded text-indigo-600 focus:ring-indigo-500;
  }
}
